<h2>tasks</h2>
<div class="content">
  <div class="tasks-div" id="upcoming" >
    <h3>todo</h3>
    <div
    cdkDropList
    class="drop-list-container"
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    (cdkDropListDropped)="drop($event)">
      <div class="task" *ngFor="let item of todo" cdkDrag id={{item._id}}>
        {{item.text}}
        <span class="delete-button material-symbols-outlined" (click)="showDeleteConfirm($event.target);">delete</span>
        <div class="confirm-deletion">delete this task?<br>
          <div class="delete-options">
            <span type="button" id="confirm-delete" (click)="deleteTask(item._id); hideDeleteConfirm($event.target)" class="confirm-button material-symbols-outlined">check</span>
            <span type="button" id="cancel-delete"  class="cancel-button material-symbols-outlined" (click)="hideDeleteConfirm($event.target)">close</span>
          </div>
        </div>
      </div>
    </div>
    <button id="new-task" type="button" (click)="showModal();">+ new task</button>
  </div>
  <div class="tasks-div" id="done">
    <h3>done</h3>
    <div
    cdkDropList
    class="drop-list-container"
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    (cdkDropListDropped)="drop($event)">
      <div class="task" *ngFor="let item of done" cdkDrag id={{item._id}}>
        {{item.text}}
        <span class="delete-button material-symbols-outlined" (click)="showDeleteConfirm($event.target);">delete</span>
        <div class="confirm-deletion">delete this task?<br>
          <div class="delete-options">
            <span type="button" id="confirm-delete" (click)="deleteTask(item._id); hideDeleteConfirm($event.target)" class="confirm-button material-symbols-outlined">check</span>
            <span type="button" id="cancel-delete"  class="cancel-button material-symbols-outlined" (click)="hideDeleteConfirm($event.target)">close</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="new-task-background" class="modal-background">
  <div id="new-task-form" class="modal">
    <h3>new task</h3>
    <button type="button" id="close-modal" class="modal-close material-symbols-outlined" (click)="hideModal()">close</button>
    <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset(); hideModal();">
      <input type="text" formControlName="text" name="text" placeholder="Task Title" required>
      <input type="text" formControlName="dueDate" name="dueDate" placeholder="Due Date" required onfocus="(this.type='date')" onfocusout="(this.type='text')">
      <button id="submit-task" class="modal-button" type="submit" [disabled]="!taskForm.valid">Submit</button>
    </form>
  </div>
</div>

